

@tailwind base;
@tailwind components;
@tailwind utilities;

*,*:focus,*:hover{
    outline:none;
}
.color-light-blue {
    color:#6fc3c3;
}
.color-dark-blue {
    color:#24335e;
}

.border-dark-blue {
    --tw-border-opacity: 1;
    border-color: rgb(43 54 125 / var(--tw-border-opacity));
}
.bg-light-blue {
    background-color:#6fc3c3;
}
.bg-dark-blue {
    background-color:#24335e;
}
.article {
    h3 {
        margin-top: 20px;
        margin-bottom: 0.6666667em;
    }
}
.grid-rows-lightbox {
    grid-template-rows: 3rem 1fr 3rem;
  }